---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Alert</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Dismissable Alerts</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
          </div>

          <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
          </div>

          <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4>Oh snap! You got an error!</h4>
            <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
            <p>
              <button type="button" class="btn btn-danger">Take this action</button>
              <button type="button" class="btn btn-default">Or do this</button>
            </p>
          </div>

        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->