---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Badges</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Badges</h3>
      <p>Easily highlight new or unread items by adding a <code>&lt;span class="badge"&gt;</code> to links, Bootstrap navs, and more.</p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><a href="#">Inbox <span class="badge">2</span></a></p>
          <p><a href="#">Inbox <span class="badge">46</span></a></p>
          <p><a href="#">Inbox <span class="badge">763</span></a></p>
          <p><a href="#">Inbox <span class="badge">1,223</span></a></p>
          <p><a href="#">Inbox <span class="badge">56,223</span></a></p>
        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Buttons with Badges</h3>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p><button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
          </button> <button class="btn btn-default" type="button">
            Messages <span class="badge">4</span>
          </button> <button class="btn btn-info" type="button">
            Messages <span class="badge">4</span>
          </button> <button class="btn btn-warning" type="button">
            Messages <span class="badge">4</span>
          </button></p>
        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Pills with Badges</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
          </ul>
        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->