---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Helper Classes</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Contextual Colors</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          
          <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
          <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
          <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
          <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

        </div>
        <div class="panel-footer">
          <p class="mono">
            &lt;p class=<code>"text-muted"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"text-primary"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"text-success"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"text-info"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"text-warning"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"text-danger"</code>&gt;...&lt;/p&gt;
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Contextual Backgrounds</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="bg-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
          <p class="bg-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="bg-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
          <p class="bg-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          <p class="bg-warning">Etiam porta sem malesuada magna mollis euismod.</p>
          <p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
        <div class="panel-footer">
          <p class="mono">
            &lt;p class=<code>"bg-muted"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"bg-primary"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"bg-success"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"bg-info"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"bg-warning"</code>&gt;...&lt;/p&gt;<br>
            &lt;p class=<code>"bg-danger"</code>&gt;...&lt;/p&gt;
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Close Icon</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="panel-footer">
          <p class="mono">
            &lt;button type=<code>"button"</code> class=<code>"close"</code> aria-label=<code>"Close"</code>&gt;&lt;span aria-hidden=<code>"true"</code>&gt;&times;&lt;/span&gt;&lt;/button&gt;
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Carets</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="caret"></span>
        </div>
        <div class="panel-footer">
          <p class="mono">
            &lt;span class=<code>"caret"</code>&gt;&lt;/span&gt;
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Bootstrap Docs</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>For detail on using the styles and components shown, see the <a href="http://getbootstrap.com/css/#helper-classes">Bootstrap Documentation for Helper Classes</a>.</p>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->