---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Images</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Image Shapes</h3>
      <p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="http://lorempixel.com/200/200/cats" class="img-rounded"> 
          <img src="http://lorempixel.com/200/200/cats" class="img-circle"> 
          <img src="http://lorempixel.com/200/200/cats" class="img-thumbnail"> 
        </div>
        <div class="panel-footer">
          <p class="mono">
            &lt;img src="..." alt="..." class=<code>"img-rounded"</code>&gt;<br>
            &lt;img src="..." alt="..." class=<code>"img-circle"</code>&gt;<br>
            &lt;img src="..." alt="..." class=<code>"img-thumbnail"</code>&gt;
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Bootstrap Docs</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>For detail on using the styles and components shown, see the <a href="http://getbootstrap.com/css/#images">Bootstrap Documentation for Images</a>.</p>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->