$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// Calcite Modules
@import "calcite/colors";
@import "calcite/scaffolding";
@import "calcite/typography";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Styleguide
@import "styleguide/utilities";
@import "styleguide/colors";
@import "styleguide/typography";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}