// ┌────────┐
// │ Alerts │
// └────────┘

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-text:          $Calcite_Gray_650 !default;
$alert-success-bg:            $state-success-bg !default;
$alert-success-border:        $state-success-border !default;

$alert-info-text:             $Calcite_Gray_650 !default;
$alert-info-bg:               $state-info-bg !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-text:          $Calcite_Gray_650 !default;
$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-text:           $Calcite_Gray_650 !default;
$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-border:         $state-danger-border !default;
