// ┌───────────────┐
// │ Badges-custom │
// └───────────────┘

// Add some left margin. Add top and bottom padding to make badges more half circle on the ends.
.badge {
  margin-left: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

// Fixes the colors when a badge is used inside a btn-default
.btn-default:hover {
  .badge {
    background-color: $white;
    color: $brand-primary;
  }
}
// Fixes the colors when a badge is used inside btn-info or btn-warning
.btn-info, .btn-warning {
  .badge {
    background-color: $white;
    color: $Calcite_Gray_650;
  }
}
