// ┌─────────────┐
// │ Breadcrumbs │
// └─────────────┘

$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;

$breadcrumb-bg:                 #f5f5f5 !default;

$breadcrumb-color:              #ccc !default;

$breadcrumb-active-color:       $Calcite_Gray_450-light !default;

$breadcrumb-separator:          "/" !default;
