// ┌─────────────────┐
// │ Buttons: Custom │
// └─────────────────┘

// Link normally uses gray. This rule forces btn-link to always use the color defined for links.
.btn {
  transition: all .25s ease;
}

.btn-link {
  color: $link-color !important;
}

.btn-group.open {
  .btn-default {
    background-color: $lightest-blue;
  }
  .dropdown-toggle {
    box-shadow: none;
  }
}

.btn-default {
  &:hover, :active {
    background-color: $dark-blue !important;
    color: $white !important;
  }
  &:focus {
    background-color: $white;
    color: $link-color;
  }
}

.btn-primary {
  &:hover {
    background-color: $blue;
    border-color: $blue;
  }
}

.btn-success {
  &:hover {
    background-color: $green;
    border-color: $green;
  }
}

.btn-info {
  &:hover {
    background-color: $lightest-blue;
    color: $off-black;
  }
}

.btn-warning {
  &:hover {
    background-color: $lightest-yellow;
    color: $off-black;
  }
}

.btn-danger {
  &:hover {
    background-color: $light-red;
  }
}

.btn-default.active {
  background-color: $lightest-blue;
}
