// ┌─────────┐
// │ Buttons │
// └─────────┘

// $link-color variable is set in the scaffolding.scss file

$btn-font-weight:                normal !default;

$btn-default-color:              	$link-color !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:            	$link-color !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 $off-black !default;
$btn-info-bg:                    $lighter-blue !default;
$btn-info-border:                $blue !default;

$btn-warning-color:              $off-black !default;
$btn-warning-bg:                 $light-yellow !default;
$btn-warning-border:             $dark-yellow !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;

// ┌─────────────┐
// │ Custom SASS │
// └─────────────┘

// Link normally uses gray. This rule forces btn-link to always use the color defined for links.
.btn-link {
  color: $link-color !important;
}
