// ┌──────┐
// │ Code │
// └──────┘

$code-color:                  $dark-red !default;
$code-bg:                     $off-white !default;

$kbd-color:                   $white !default;
$kbd-bg:                      $black !default;

$pre-bg:                      $Calcite_Gray_150 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            $lighter-gray !default;
$pre-scrollable-max-height:   340px !default;