// ┌───────────┐
// │ Grayscale │
// └───────────┘
//  ↳ http://esri.github.io/calcite-web/color/#grayscale
//  ↳ color → _grayscale.md

$white:                 hsl(0, 0, 100);
$off-white:             #f8f8f8; // $Calcite_Gray_100;
$lightest-gray:         #efefef; // $Calcite_Gray_200;
$lighter-gray:          #cccccc; // $Calcite_Gray_350;
$light-gray:            #a9a9a9; // $Calcite_Gray_400;
$gray:                  #959595; // $Calcite_Gray_450;
$dark-gray:             #828282; // $Calcite_Gray_500;
$darker-gray:           #6e6e6e; // $Calcite_Gray_550;
$darkest-gray:          #595959; // $Calcite_Gray_600;
$off-black:             #4c4c4c; // $Calcite_Gray_650;
$black:                 #323232; // $Calcite_Gray_700;

$transparent-off-black: rgba(0, 0, 0, 0.45);
$transparent-black:     rgba(0, 0, 0, 0.75);

// ┌───────────┐
// │ UI Colors │
// └───────────┘
//  ↳ http://esri.github.io/calcite-web/color/#ui-colors
//  ↳ color → _ui-colors.md

// Blues
$lightest-blue:         #d2e9f9; // $Calcite_Blue_100;
$lighter-blue:          #bcdaed; // $Calcite_Blue_150;
$light-blue:            #56a5d8; // $Calcite_Blue_250;
$blue:                  #3b8fc4; // $Calcite_Blue_400;
$dark-blue:             #196fa6; // $Calcite_Blue_450;

// Greens
$light-green:           #9bc19c; // $Calcite_Green_150;
$green:                 #5a9359; // $Calcite_Green_250;
$dark-green:            #338033; // $Calcite_Green_400;

// Reds
$light-red:             #f3ded7; // $Calcite_Red_150;
$red:                   #c6542d; // $Calcite_Red_250;
$dark-red:              #ab3c16; // $Calcite_Red_400;

// Oranges
$light-orange:          #f6ca92; // $Calcite_Orange_150;
$orange:                #eda959; // $Calcite_Orange_200;
$dark-orange:           #e8912e; // $Calcite_Orange_350;

// Yellows
$light-yellow:          #efe397; // $Calcite_Yellow_150;
$yellow:                #e4d154; // $Calcite_Yellow_200;
$dark-yellow:           #d9bf2b; // $Calcite_Yellow_350;

// Purples
$light-purple:          #c4bcdc; // $Calcite_Purple_150;
$purple:                #9081bc; // $Calcite_Purple_200;
$dark-purple:           #7461a8; // $Calcite_Purple_350;

// Browns
$light-brown:           #d2b38f; // $Calcite_Brown_150;
$brown:                 #a57946; // $Calcite_Brown_250;
$dark-brown:            #8c5e2a; // $Calcite_Brown_400;


// ┌───────────────────────────┐
// │ Bootstrap Color Variables │
// └───────────────────────────┘

$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $light-blue !default;
$brand-warning: $yellow !default;
$brand-danger: $red !default;

$gray-darker: $darker-gray !default; // #222
$gray-dark: $dark-gray !default;   // #333
$gray: $gray !default; // #555
$gray-light: $light-gray !default; // #777
$gray-lighter: $lighter-gray !default; // #eee

$gray-base: #000 !default;