// ┌───────────┐
// │ Dropdowns │
// └───────────┘

//** Background for the dropdown menu.
$dropdown-bg:                    $Calcite_Gray_050 !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       $Calcite_Gray_350 !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            $Calcite_Gray_350 !default;

//** Dropdown link text color.
$dropdown-link-color:            $Calcite_Gray_650 !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($Calcite_Gray_650, 5%) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $Calcite_Gray_200 !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $component-active-color !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        $component-active-bg !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $Calcite_Gray_650 !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           $Calcite_Gray_700 !default;
