// ┌─────────────────────┐
// │ List Groups: Custom │
// └─────────────────────┘

.list-group-item {
  // Header class
  &.header {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: #404040;
    background-color: #fafafa;
    border-color: #e6e6e6;
  }
}
