// ┌─────────────┐
// │ List Groups │
// └─────────────┘

//** Background color on `.list-group-item`
$list-group-bg:                 $Calcite_Gray_050 !default;
//** `.list-group-item` border color
$list-group-border:             $Calcite_Gray_400 !default;
//** List group border radius
$list-group-border-radius:      $border-radius-base !default;

//** Background color of single list items on hover
$list-group-hover-bg:           $Calcite_Highlight_Blue_100 !default;
//** Text color of active list items
$list-group-active-color:       $component-active-color !default;
//** Background color of active list items
$list-group-active-bg:          $component-active-bg !default;
//** Border color of active list elements
$list-group-active-border:      $list-group-active-bg !default;
//** Text color for content within active list items
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

//** Text color of disabled list items
$list-group-disabled-color:      $Calcite_Gray_450 !default;
//** Background color of disabled list items
$list-group-disabled-bg:         $Calcite_Gray_150 !default;
//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         $Calcite_Gray_550 !default;
$list-group-link-hover-color:   $Calcite_Gray_600 !default;
$list-group-link-heading-color: $Calcite_Gray_700 !default;
