$micro-navbar-height: 22px;

.micronav {
	font-size: $font-size-small;
	background: $gray-120;
  position: relative;
  min-height: $micro-navbar-height;
  border-bottom: 1px solid $gray-120;
  margin-bottom: 0px;

  .nav-pills {
	  > li {
	    + li {
	      margin-left: 0px;
	    }

	    // Active state
	    &.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: #fff;
	        background-color: $gray-130;
	      }
	    }
	  }
	}
}