//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          6px 15px !default;
$nav-link-hover-bg:                         transparentize($gray-base, .7) !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

//== Tabs
$nav-tabs-border-color:                     transparentize($gray-base, 1) !default;
$nav-tabs-link-hover-border-color:          transparentize($gray-base, 1) !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray-base !default;
$nav-tabs-active-link-hover-border-color:   $body-bg !default;

$nav-tabs-justified-link-border-color:      transparentize($gray-base, .5) !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;

//== Custom
.nav-tabs {
  border-bottom: 0px solid $nav-tabs-link-hover-border-color; // Make the bottom border invisible
  > li {
    margin-bottom: 0px; // Moves tabs to flush bottom of header block
	margin-right: 6px; // Adds more spacing to the right of each tab
    > a {
      background-color: $nav-tabs-justified-link-border-color; // To add background to non-active tab
      color: #fff; // Changes the default link color of non-active tabs
    }
  }
}

//== Notes
// The radius corners on the tabs is removed with the global variable $border-radius-base in _components.
