// ┌────────┐
// │ Navbar │
// └────────┘

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             0px !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             $Calcite_Gray_650 !default;
$navbar-default-bg:                $Calcite_Gray_050 !default;
$navbar-default-border:            $Calcite_Gray_200 !default;

// Navbar links
$navbar-default-link-color:                $Calcite_Gray_650 !default;
$navbar-default-link-hover-color:          $link-color !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $Calcite_Gray_650 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 3.5%) !default;
$navbar-default-link-disabled-color:       $Calcite_Gray_350 !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $Calcite_Gray_700 !default;
$navbar-default-brand-hover-color:         $link-color !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $Calcite_Gray_350 !default;
$navbar-default-toggle-icon-bar-bg:        $Calcite_Gray_500 !default;
$navbar-default-toggle-border-color:       $Calcite_Gray_350 !default;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         $Calcite_Gray_700 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color:           $Calcite_Gray_050 !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        $Calcite_Gray_600 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          $Calcite_Gray_050 !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $Calcite_Gray_650 !default;
$navbar-inverse-toggle-icon-bar-bg:         $Calcite_Gray_050 !default;
$navbar-inverse-toggle-border-color:        $Calcite_Gray_650 !default;
