// ┌────────────────────┐
// │ Navs - Tabs-custom │
// └────────────────────┘

.nav-tabs {
  border-bottom: 1px solid $Calcite_Gray_400;
  li {
    &.active {
      border-top: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      border-color: $Calcite_Gray_400;
    }
    marign-bottom: 0;
    .active {
      top: 1px;
    }
  }
}

.nav-tabs.nav-justified {
  li.active {
    border: 0;
  }
}

