// ┌─────────────────────────┐
// │ Navs - Shared Variables │
// └─────────────────────────┘

$nav-link-padding:                          6px 15px !default;
$nav-link-hover-bg:                         $Calcite_Highlight_Blue_100 !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;
