// ┌─────────────┐
// │ Navs - Tabs │
// └─────────────┘

$nav-tabs-border-color:                     transparentize($gray-base, 1) !default;
$nav-tabs-link-hover-border-color:          transparentize($gray-base, 1) !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray-base !default;
$nav-tabs-active-link-hover-border-color:   $body-bg !default;

$nav-tabs-justified-link-border-color:      transparentize($gray-base, .5) !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;