// ┌─────────────┐
// │ Navs - Tabs │
// └─────────────┘

$nav-tabs-border-color:                     $Calcite_Gray_400 !default;

$nav-tabs-link-hover-border-color:          transparent !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $Calcite_Gray_700 !default;
$nav-tabs-active-link-hover-border-color:   $Calcite_Gray_400 !default;

$nav-tabs-justified-link-border-color:           $Calcite_Gray_400 !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;
