// ┌───────────────┐
// │ Navs - Custom │
// └───────────────┘

$subheader-navbar-height: 36px;
$micro-navbar-height: 22px;

.subheader-nav {
  position: relative;
  min-height: $subheader-navbar-height;
  border-bottom: 1px solid $Calcite_Gray_300;
  margin-bottom: 0px;
  margin-top: 0px;
}

.micronav {
	font-size: $font-size-small;
	background: $Calcite_Gray_300;
  position: relative;
  min-height: $micro-navbar-height;
  border-bottom: 1px solid $Calcite_Gray_300;
  margin-bottom: 0px;
}