// ┌────────────┐
// │ Pagination │
// └────────────┘

$pagination-color:                     $link-color !default;
$pagination-bg:                        $white !default;
$pagination-border:                    $Calcite_Gray_350 !default;

$pagination-hover-color:               $white !default;
$pagination-hover-bg:                  $brand-primary !default;
$pagination-hover-border:              $brand-primary !default;

$pagination-active-color:              $white !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;
