// ┌────────────┐
// │ Pagination │
// └────────────┘

$pagination-color:                     $link-color !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    $lighter-gray !default;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $lightest-blue !default;
$pagination-hover-border:              $Calcite_Gray_350 !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $brand-primary !default;
$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;
