// ┌─────────────┐
// │ Scaffolding │
// └─────────────┘

//** Background color for `<body>`.
$body-bg:               $off-white !default;
//** Global text color on `<body>`.
$text-color:            $off-black !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $light-blue !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;
