//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $off-white !default;
//** Global text color on `<body>`.
$text-color:            $off-black !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $light-blue !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

$footer-height: 60px;

//== Let's make the footer stick to the bottom when the page is short!
// html {
//   position: relative;
//   min-height: 100%;
// }
// body {
//   margin-bottom: ($footer-height + 20px);
// }
// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   /* Set the fixed height of the footer here */
//   height: $footer-height;
//   background-color: #f5f5f5;
// }
// /* This centers the text vertically in the footer */
// .container .text-muted {
//   margin: 18px 0;
// }
