---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Documentation</h1>
  </div>
</div>

<div class="container">

  <h2 class="page-header">What is Calcite+Bootstrap?</h2>
  <p>Calcite+Bootstrap shares the design asthetic of Calcite-Web, but is designed to work with the markup and class system that has been popularized with Bootstrap.</p>

  <h2>Documentation</h2>
  <p>Although there is some amount of documentation in this site, the best place to get information about the bootstrap grid-system and components is at the main <a href="http://getbootstrap.com">Bootstrap</a> website.</p>

</div><!-- /.container -->
