---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Popover</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3><!-- SECTION --></h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3><!-- SECTION --></h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">

          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on left
          </button>

          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on top
          </button>

          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on bottom
          </button>

          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            Popover on right
          </button>

        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->