---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Tables</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Basic Table</h3>
      <p>For basic styling&mdash;light padding and only horizontal dividers—add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <caption>Optional table caption.</caption>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <p class="mono">
            <code>&lt;table class="table"&gt;<br>
            &nbsp;&nbsp;...<br>
            &lt;/table&gt;</code>
          </p>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->


  <div class="row">
      <div class="col-md-3">
          <h3>Striped Rows</h3>
          <p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-striped">
                <caption>Optional table caption.</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <p class="mono">
                <code>&lt;table class="table table-striped"&gt;<br>
                &nbsp;&nbsp;...<br>
                &lt;/table&gt;</code>
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->



  <div class="row">
      <div class="col-md-3">
          <h3>Bordered Table</h3>
          <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-bordered">
                <caption>Optional table caption.</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <p class="mono">
                <code>&lt;table class="table table-bordered"&gt;<br>
                &nbsp;&nbsp;...<br>
                &lt;/table&gt;</code>
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->


  <div class="row">
      <div class="col-md-3">
          <h3>Hover Rows</h3>
          <p>Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-hover">
                <caption>Optional table caption.</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <p class="mono">
                <code>&lt;table class="table table-hover"&gt;<br>
                &nbsp;&nbsp;...<br>
                &lt;/table&gt;</code>
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Condensed Table</h3>
          <p>Add <code>.table-condensed</code> to make tables more compact by cutting cell padding in half.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-condensed">
                <caption>Optional table caption.</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <p class="mono">
                <code>&lt;table class="table table-condensed"&gt;<br>
                &nbsp;&nbsp;...<br>
                &lt;/table&gt;</code>
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
        <h3>Contextual Classes</h3>
        <p>Use contextual classes to color table rows or individual cells.</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Class</th>
              <th>Applies the hover color to a particular row or cell</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.active</code></td>
              <td>Otto</td>
            </tr>
            <tr>
              <td><code>.success</code></td>
              <td>Indicates a successful or positive action</td>
            </tr>
            <tr>
              <td><code>.info</code></td>
              <td>Indicates a neutral informative change or action</td>
            </tr>
            <tr>
              <td><code>.warning</code></td>
              <td>Indicates a warning that might need attention</td>
            </tr>
            <tr>
              <td><code>.danger</code></td>
              <td>Indicates a dangerous or potentially negative action</td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table table-condensed">
                <caption>Optional table caption.</caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr class="active">
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr class="success">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr class="info">
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr class="warning">
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr class="danger">
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-footer">
              <p class="mono">
                &lt;!-- On rows --&gt;<br>
                <code>&lt;tr class="active"&gt;</code>...<code>&lt;/tr&gt;</code><br>
                <code>&lt;tr class="success"&gt;</code>...<code>&lt;/tr&gt;</code><br>
                <code>&lt;tr class="warning"&gt;</code>...<code>&lt;/tr&gt;</code><br>
                <code>&lt;tr class="danger"&gt;</code>...<code>&lt;/tr&gt;</code><br>
                <code>&lt;tr class="info"&gt;</code>...<code>&lt;/tr&gt;</code><br>
              </p>
              <p class="mono">
                &lt;!-- On cells (`td` or `th`) --&gt;<br>
                <code>&lt;tr&gt;</code><br>
                  <code>&lt;td class="active"&gt;</code>...<code>&lt;/td&gt;</code><br>
                  <code>&lt;td class="success"&gt;</code>...<code>&lt;/td&gt;</code><br>
                  <code>&lt;td class="warning"&gt;</code>...<code>&lt;/td&gt;</code><br>
                  <code>&lt;td class="danger"&gt;</code>...<code>&lt;/td&gt;</code><br>
                  <code>&lt;td class="info"&gt;</code>...<code>&lt;/td&gt;</code><br>
                <code>&lt;/tr&gt;</code>
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->


  <div class="row">
      <div class="col-md-3">
          <h3>Responsive Table</h3>
          <p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.table-responsive -->

              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                      <th>Table heading</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                      <td>Table cell</td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.table-responsive -->
            </div>
            <div class="panel-footer">
              <p class="mono">
                <code>&lt;div class="table-responsive"&gt;</code><br>
                &nbsp;&nbsp;&lt;table class="table"&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                &nbsp;&nbsp;&lt;/table&gt;<br>
                <code>&lt;/div&gt;</code>
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Bootstrap Docs</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>For detail on using the styles and components shown, see the <a href="http://getbootstrap.com/css/#tables">Bootstrap Documentation for Tables</a>.</p>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->