---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Typography</h1>
  </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-3">
          
          <div class="list-group">
            <span class="list-group-item header">Typefaces</span>
            <a href="#overview" class="list-group-item">Overview</a>
            <a href="#avenir" class="list-group-item">Avenir</a>
            <!-- <a href="#frutiger" class="list-group-item">Fruitger</a> -->
            <a href="#kepler" class="list-group-item">Kepler</a>
            <a href="#code" class="list-group-item">Code Face</a>
            <!-- <span class="list-group-item header">Composition Helpers</span>
            <a href="#" class="list-group-item">Overview</a>
            <a href="#" class="list-group-item">Text modifiers</a>
            <a href="#" class="list-group-item">Sizes</a>
            <a href="#" class="list-group-item">Color</a>
            <a href="#" class="list-group-item">Link Color</a>
            <a href="#" class="list-group-item">Numbered List</a>
            <a href="#" class="list-group-item">Plain List</a>
            <span class="list-group-item header">Defaults</span>
            <a href="#" class="list-group-item">Overview</a> -->
            <span class="list-group-item header">Typography</span>
            <a href="#headings" class="list-group-item">Headings</a>
            <a href="#body" class="list-group-item">Body Copy</a>
            <a href="#inline" class="list-group-item">Inline Text Elements</a>
            <a href="#align" class="list-group-item">Alignment Classes</a>
            <a href="#transform" class="list-group-item">Transformation Classes</a>
            <a href="#abbv" class="list-group-item">Abbreviations</a>
            <a href="#addy" class="list-group-item">Addresses</a>
            <a href="#block" class="list-group-item">Blockquotes</a>
            <a href="#lists" class="list-group-item">Lists</a>
          </div>

        </div><!-- /.col-* -->
        <div class="col-md-9">

          <p>The Calcite Type System uses a combination of mixins and helper classes to achieve a clear visual style, focusing primarily on simplifying typesetting processes. Using the mixins and classes properly will ensure that all properties are consistent, beautiful, and robust.</p>

          <h3 id="avenir">Avenir</h3>

          <p><a href="http://www.fonts.com/font/linotype/avenir-next">Avenir Next</a> is a recut of the classic Avenir typeface, by Adrian Frutiger and Akira Kobayashi. It has been reworked for use on the web, and contains more weights, styles, and other improvements. Avenir Next improves on Avenir in web-specific settings.</p>

          <p>Applies the the header face, along with a set of smart weight interactions and typographic defaults, to an element.</p>

          <h4>Avenir Next</h4>
          
          <h3 class="type-sample"> Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</h3>

          <h3 class="type-sample"> Amazingly few discotheques provide jukeboxes.</h3>

          <h1>Amazingly few discotheques provide jukeboxes.</h1>
          <h2>Amazingly few discotheques provide jukeboxes.</h2>
          <h3>Amazingly few discotheques provide jukeboxes.</h3>
          <h4>Amazingly few discotheques provide jukeboxes.</h4>
          <h5>Amazingly few discotheques provide jukeboxes.</h5>
          <h6>Amazingly few discotheques provide jukeboxes.</h6>

          <!-- <hr>

          <h2 id="frutiger" tabindex="0">Frutiger</h2>

          <p>While there is no official Esri brand typeface for long form applications, Calcite Web employs <a href="http://www.fonts.com/font/linotype/frutiger?QueryFontType=Web">Frutiger</a> for this purpose. Frutiger evokes some of the stronger qualities of system default typefaces - Lucida Grande and Segoe UI - while presenting a consistent voice across platforms. Frutiger pairs remarkably well with Avenir, as they are both designed by Adrian Frutiger, with strong influences from Univers.</p>

          <h3>Frutiger</h3>
          
          <p class="type-sample"> Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</h2>

          <p class="type-sample"> Amazingly few discotheques provide jukeboxes.</h2> -->


          <hr>

          <h3 id="kepler">Kepler</h3>

          <p><a href="http://www.fonts.com/font/adobe/kepler">Kepler</a>, designer by Robert Slimbach, is used to add graphic interest to a page. For example, Kepler could be used for a large, stylized pull-quote on a marketing landing page. Kepler is the official secondary face of the Esri brand, and offers good counterpoint to Avenir.</p>

          <h4>Kepler</h4>
          
          <p class="type-sample serif-face"> Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>

          <p class="type-sample serif-face"> Amazingly few discotheques provide jukeboxes.</p>


          <hr>

          <h3 id="code">Code Face</h3>

          <p>Designed by Microsoft's Lucas DeGroot, <a href="http://www.fonts.com/font/microsoft-corporation/consolas">Consolas</a> is a clean, readable, and simple monospace face for documenting code blocks.</p>

          <h4>Consolas</h4>
          
          <p class="type-sample code-face"> Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>

          <p class="type-sample code-face"> Amazingly few discotheques provide jukeboxes.</p>

          <hr>

          <h2 id="typo" class="page-header">Typography</h2>

          <h3 id="headings">Headings</h3>
            <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
            <div class="panel panel-default">
              <div class="panel-body">
                <h1>h1. Bootstrap heading</h1>
                <h2>h2. Bootstrap heading</h2>
                <h3>h3. Bootstrap heading</h3>
                <h4>h4. Bootstrap heading</h4>
                <h5>h5. Bootstrap heading</h5>
                <h6>h6. Bootstrap heading</h6>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;h1&gt;h1. Bootstrap heading&lt;/h1&gt;</br />
                &lt;h2&gt;h2. Bootstrap heading&lt;/h2&gt;</br />
                &lt;h3&gt;h3. Bootstrap heading&lt;/h3&gt;</br />
                &lt;h4&gt;h4. Bootstrap heading&lt;/h4&gt;</br />
                &lt;h5&gt;h5. Bootstrap heading&lt;/h5&gt;</br />
                &lt;h6&gt;h6. Bootstrap heading&lt;/h6&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

            <p>Create lighter, secondary text in any heading with a generic <code>&lt;small&gt;</code> tag or the <code>.small</code> class.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
                <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
                <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
                <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
                <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;h1&gt;h1. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h1&gt;</br />
                &lt;h2&gt;h2. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h2&gt;</br />
                &lt;h3&gt;h3. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h3&gt;</br />
                &lt;h4&gt;h4. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h4&gt;</br />
                &lt;h5&gt;h5. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h5&gt;</br />
                &lt;h6&gt;h6. Bootstrap heading &lt;small&gt;Secondary text&lt;/small&gt;&lt;/h6&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->


          <h3 id="body">Body Copy</h3>

            <p>Calcite+Bootstrap's global default <code>font-size</code> is <strong>17px</strong>, with a <code>line-height</code> of <strong>25px</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (12px by default).</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;p&gt;...&lt;/p&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

            <h4>Lead Body Copy</h4>
            <p>Make a paragraph stand out by adding <code>.lead</code>.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;p class="lead"&gt;...&lt;/p&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->            

          <h3 id="inline">Inline Text Elements</h3>

          <h4>Marked Text</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p>You can use the mark tag to <mark>highlight</mark> text.</p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">You can use the mark tag to <code>&lt;mark&gt;</code>highlight<code>&lt;/mark&gt;</code> text.</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>Deleted Text</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><del>This line of text is meant to be treated as deleted text.</del></p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;del&gt;</code>This line of text is meant to be treated as deleted text.<code>&lt;/del&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>Strikethrough Text</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;s&gt;</code>This line of text is meant to be treated as no longer accurate.<code>&lt;/s&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>Inserted Text</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;ins&gt;</code>This line of text is meant to be treated as an addition to the document.<code>&lt;/ins&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>Underlined Text</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><u>This line of text is meant to be treated as an addition to the document.</u></p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;u&gt;</code>This line of text will render as underlined<code>&lt;/u&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>Small Text</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p><small>This line of text is meant to be treated as fine print.</small></p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;small&gt;</code>This line of text is meant to be treated as fine print.<code>&lt;/small&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>Bold</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;strong&gt;</code>rendered as bold text<code>&lt;/strong&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>Italics</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;em&gt;</code>rendered as italicized text<code>&lt;/em&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h4>ArcGIS Branding</h4>
            <p>When the branding of ArcGIS is needed, use the <code>gis</code> inside of a <code>&lt;span&gt;</code> around the letters GIS.
            <div class="panel panel-default">
              <div class="panel-body">
                <p>Arc<span class="gis">GIS</span></p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">Arc<code>&lt;span class="gis"&gt;</code>GIS<code>&lt;/span&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  


          <h3 id="alignment">Alignment Classes</h3>
          <p>Easily realign text to components with text alignment classes.</p>
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="text-left">Left aligned text.</p>
                <p class="text-center">Center aligned text.</p>
                <p class="text-right">Right aligned text.</p>
                <p class="text-justify">Justified text.</p>
                <p class="text-nowrap">No wrap text.</p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;p class=<code>"text-left"</code>&gt;Left aligned text.&lt;/p&gt;</p>
                <p class="code-face">&lt;p class=<code>"text-center"</code>&gt;Center aligned text.&lt;/p&gt;</p>
                <p class="code-face">&lt;p class=<code>"text-right"</code>&gt;Right aligned text.&lt;/p&gt;</p>
                <p class="code-face">&lt;p class=<code>"text-justify"</code>&gt;Justified text.&lt;/p&gt;</p>
                <p class="code-face">&lt;p class=<code>"text-nowrap"</code>&gt;No wrap text.&lt;/p&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->  

          <h3 id="transform">Transformation Classes</h3>
          <p>Transform text in components with text capitalization classes.</p>
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="text-lowercase">Lowercased text.</p>
                <p class="text-uppercase">Uppercased text.</p>
                <p class="text-capitalize">Capitalized text.</p>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;p class=<code>"text-lowercase"</code>&gt;Lowercased text.&lt;/p&gt;</p>
                <p class="code-face">&lt;p class=<code>"text-uppercase"</code>&gt;Uppercased text.&lt;/p&gt;</p>
                <p class="code-face">&lt;p class=<code>"text-capitalize"</code>&gt;Capitalized text.&lt;/p&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->            

          <h3 id="abbv">Abbreviations</h3>
            <p>Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a <code>title</code> attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover and to users of assistive technologies.</p>

            <h4>Basic Abbreviations</h4>
            <div class="panel panel-default">
              <div class="panel-body">
                <abbr title="attribute">attr</abbr>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;abbr title=<code>"attribute"</code>&gt;attr&lt;/abbr&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->
            
            <h4>Initialism</h4>
            <p>Add <code>.initialism</code> to an abbreviation for a slightly smaller font-size.</p>
            <div class="panel panel-default">
              <div class="panel-body">
                <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;abbr title="HyperText Markup Language" class=<code>"initialism"</code>&gt;HTML&lt;/abbr&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h3 id="addy">Addresses</h3>
          <p>Present contact information for the nearest ancestor or the entire body of work. Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <address>
                  <strong>Twitter, Inc.</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

                <address>
                  <strong>Full Name</strong><br>
                  <a href="mailto:#">first.last@example.com</a>
                </address>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;address&gt;<br />
                &nbsp;&nbsp;&lt;strong&gt;Twitter, Inc.&lt;/strong&gt;&lt;br&gt;<br>
                &nbsp;&nbsp;795 Folsom Ave, Suite 600&lt;br&gt;<br>
                &nbsp;&nbsp;San Francisco, CA 94107&lt;br&gt;<br>
                &nbsp;&nbsp;&lt;abbr title="Phone"&gt;P:&lt;/abbr&gt; (123) 456-7890<br>
                &lt;/address&gt;</p>

                <p class="code-face">&lt;address&gt;<br />
                &nbsp;&nbsp;&lt;strong&gt;Full Name&lt;/strong&gt;&lt;br&gt;<br />
                &nbsp;&nbsp;&lt;a href="mailto:#"&gt;first.last@example.com&lt;/a&gt;<br />
                &lt;/address&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h3 id="block">Blockquotes</h3>
          <p>For quoting blocks of content from another source within your document.</p>

          <h4>Default Blockquotes</h4>
            <p>Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes, we recommend a <code>&lt;p&gt;</code>.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;blockquote&gt;</code><br>
                &nbsp;&nbsp;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;<br>
                <code>&lt;/blockquote&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h4>Blockquote Options</h4>
            <p>Style and content changes for simple variations on a standard <code>&lt;blockquote&gt;</code>.</p>

            <h5>Naming a Source</h5>
            <p>Add a <code>&lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <blockquote>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;blockquote&gt;<br>
                &nbsp;&nbsp;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;<br>
                &nbsp;&nbsp;<code>&lt;footer&gt;</code>Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;<code>&lt;/footer&gt;</code><br>
                &lt;/blockquote&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

            <h5>Alternate Displays</h5>
            <p>Add <code>.blockquote-reverse</code> for a blockquote with right-aligned content.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <blockquote class="blockquote-reverse">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;blockquote class=<code>"blockquote-reverse"</code>&gt;<br>
                &nbsp;&nbsp;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;<br>
                &nbsp;&nbsp;&lt;footer&gt;Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/footer&gt;<br>
                &lt;/blockquote&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h3 id="lists">Lists</h3>

          <h4>Unordered</h4>
          <p>A list of items in which the order does <em>not</em> explicitly matter.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;ul&gt;</code><br>
                &nbsp;&nbsp;<code>&lt;li&gt;</code>...<code>&lt;/li&gt;</code><br>
                <code>&lt;/ul&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h4>Ordered</h4>
          <p>A list of items in which the order <em>does</em> explicitly matter.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <ol>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ol>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;ol&gt;</code><br>
                &nbsp;&nbsp;<code>&lt;li&gt;</code>...<code>&lt;/li&gt;</code><br>
                <code>&lt;/ol&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h4>Unstyled</h4>
          <p>Remove the default <code>list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <ul class="list-unstyled">
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;ul class=<code>"list-unstyled"</code>&gt;<br>
                &nbsp;&nbsp;&lt;li&gt;...&lt;/li&gt;<br>
                &lt;/ul&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->          

          <h4>Inline</h4>
          <p>Place all list items on a single line with <code>display: inline-block;</code> and some light padding.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <ul class="list-inline">
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;ul class=<code>"list-inline"</code>&gt;<br>
                &nbsp;&nbsp;&lt;li&gt;...&lt;/li&gt;<br>
                &lt;/ul&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h4>Description</h4>
          <p>A list of terms with their associated descriptions.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <dl>
                  <dt>Description lists</dt>
                  <dd>A description list is perfect for defining terms.</dd>
                  <dt>Euismod</dt>
                  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                  <dt>Malesuada porta</dt>
                  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face"><code>&lt;dl&gt;</code><br>
                &nbsp;&nbsp;<code>&lt;dt&gt;</code>...<code>&lt;/dt&gt;</code><br>
                &nbsp;&nbsp;<code>&lt;dd&gt;</code>...<code>&lt;/dd&gt;</code><br>
                <code>&lt;/dl&gt;</code></p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

          <h5>Horizontal Description</h5>
          <p>Make terms and descriptions in <code>&lt;dl&gt;</code> line up side-by-side. Starts off stacked like default <code>&lt;dl&gt;</code>s, but when the navbar expands, so do these.</p>

            <div class="panel panel-default">
              <div class="panel-body">
                <dl class="dl-horizontal">
                  <dt>Description lists</dt>
                  <dd>A description list is perfect for defining terms.</dd>
                  <dt>Euismod</dt>
                  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                  <dt>Malesuada porta</dt>
                  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
              </div><!-- /.panel-body -->
              <div class="panel-footer">
                <p class="code-face">&lt;dl class=<code>"dl-horizontal"</code>&gt;<br>
                &nbsp;&nbsp;&lt;dt&gt;...&lt;/dt&gt;<br>
                &nbsp;&nbsp;&lt;dd&gt;...&lt;/dd&gt;<br>
                &lt;/dl&gt;</p>
              </div><!-- /.panel-footer -->
            </div><!-- /.panel -->

        </div><!-- /.col-* -->
    </div><!-- /.row -->



</div><!-- /.container -->