// Calcite Fast Fonts Imports
@import "fonts-avenir";

// Set variable to change the primary typeface in the font stack
$primary-font-sanserif:  'Avenir Next W01', 'Avenir Next', 'Avenir';
$primary-font-serif: 'Kepler W01';

$primary-headings-weight: 300;

// Calcite Module Variables
@import "variables";
