<div class="lowernav">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#">Configure Site</a></li>
      <li><a href="#">Manage Data</a></li>
      <li><a href="#">Data Report</a></li>
      <li><a href="#">Design Layout</a></li>
      <li><a href="#">Preview Site</a></li>
    </ul>
  </div> <!-- /container -->
</div> <!-- /.lowernav -->