<div class="secondary-nav">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{assets}}examples/site-config.html">Configure Site</a></li>
      <li role="presentation"><a href="{{assets}}examples/site-data.html">Manage Data</a></li>
      <li role="presentation" class="active"><a href="{{assets}}examples/site-report.html">Data Report</a></li>
      <li role="presentation"><a href="{{assets}}examples/site-layout.html">Design Layout</a></li>
      <li role="presentation"><a href="#">Preview Site</a></li>
    </ul>
  </div> <!-- /container -->
</div> <!-- /.lowernav -->