<div class="micronav">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#">Edit Metadata</a></li>
      <li role="presentation"><a href="#">Data License</a></li>
      <li role="presentation"><a href="#">Set Repeat Updates</a></li>
    </ul>
  </div> <!-- /container -->
</div> <!-- /.lowernav -->