<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Calcite+Bootstrap</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="getstarted.html">Getting Started</a></li>
            <li class="dropdown">
              <a href="css.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CSS <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="disabled"><a href="#">Grid System</a></li>
                <li><a href="type.html">Typography</a></li>
                <li class="disabled"><a href="#">Code</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li><a href="forms.html">Forms</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li class="disabled"><a href="#">Images</a></li>
                <li class="disabled"><a href="#">Helper Classes</a></li>
                <li class="disabled"><a href="#">Responsive Utilities</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="components.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Components <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="disabled"><a href="#">Glyphicons</a></li>
                <li><a href="dropdowns.html">Dropdowns</a></li>
                <li><a href="buttongroups.html">Button Groups</a></li>
                <li><a href="buttondropdowns.html">Button Dropdowns</a></li>
                <li class="disabled"><a href="#">Input Groups</a></li>
                <li class="disabled"><a href="#">Navs</a></li>
                <li class="disabled"><a href="#">Navbar</a></li>
                <li class="disabled"><a href="#">Breadcrumbs</a></li>
                <li class="disabled"><a href="#">Pagination</a></li>
                <li class="disabled"><a href="#">Labels</a></li>
                <li class="disabled"><a href="#">Badges</a></li>
                <li class="disabled"><a href="#">Jumbotron</a></li>
                <li class="disabled"><a href="#">Page Header</a></li>
                <li class="disabled"><a href="#">Thumbnails</a></li>
                <li class="disabled"><a href="#">Alerts</a></li>
                <li class="disabled"><a href="#">Progress Bars</a></li>
                <li class="disabled"><a href="#">Media Object</a></li>
                <li class="disabled"><a href="#">List Groups</a></li>
                <li class="disabled"><a href="#">Panels</a></li>
                <li class="disabled"><a href="#">Responsive Embed</a></li>
                <li class="disabled"><a href="#">Wells</a></li>
              </ul>
            </li>
            <li><a href="colors.html">Colors</a></li>
            <li><a href="javascript.html">JavaScript</a></li>
            <li><a href="examples/admin-index.html">Admin Examples</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- /.container -->
    </nav>