<div class="subheader-nav">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{assets}}opendata/site-config.html">Site Configuration</a></li>
      <li role="presentation"><a href="{{assets}}opendata/site-groups.html">Groups Manager</a></li>
      <li role="presentation"><a href="{{assets}}opendata/site-data.html">Data Manager</a></li>
      <li role="presentation"><a href="{{assets}}opendata/site-editor.html">Site Editor</a></li>
      <li role="presentation"><a href="#">Preview Site</a></li>
    </ul>
  </div> <!-- /container -->
</div> <!-- /.lowernav -->