/* Construct the Swatch Boxes
---------------------------------------------------------------------------- */
// This draws the basic block
.sg-color {
  background: #fff;
  border: 1px solid #b3b3b3;
  display: inline-block;
  height: 80px;
  margin: 0 .5em .5em 0;
  padding: 5px;
  position: relative;
  width: 100%;
}
// This is for a larger color block
.sg-lg {
  width: 100%;
  height: 100px;
}
// This draws the box that will display the color
.sg-color-swatch {
  display: block;
  height: 100%;
  width: 100%;
}
// This draws the text box over the swatch
.sg-color-swatch span {
  background: rgba(0, 0, 0, 0.7);
  bottom: 5px;
  color: #fff;
  font-size: .8em;
  margin: 0;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}
// This modifies the text box for large swatch boxes
.sg-lg .sg-color-swatch span {
  width: 200px;
}
.sg-color-swatch:hover span {
  opacity: 1;
}


/* Color Palette 
---------------------------------------------------------------------------- */
// Grays
.sg-white .sg-color-swatch {
  background: $white;
}
.sg-off-white .sg-color-swatch {
  background: $off-white;
}
.sg-lightest-gray .sg-color-swatch {
  background: $lightest-gray;
}
.sg-lighter-gray .sg-color-swatch {
  background: $lighter-gray;
}
.sg-light-gray .sg-color-swatch {
  background: $light-gray;
}
.sg-gray .sg-color-swatch {
  background: $gray;
}
.sg-dark-gray .sg-color-swatch {
  background: $dark-gray;
}
.sg-darker-gray .sg-color-swatch {
  background: $darker-gray;
}
.sg-darkest-gray .sg-color-swatch {
  background: $darkest-gray;
}
.sg-off-black .sg-color-swatch {
  background: $off-black;
}
.sg-black .sg-color-swatch {
  background: $black;
}
.sg-transp-off-black .sg-color-swatch {
  background: $transparent-off-black;
}
.sg-transp-black .sg-color-swatch {
  background: $transparent-black;
}

// Blues
.sg-lightest-blue .sg-color-swatch {
  background: $lightest-blue;
}
.sg-lighter-blue .sg-color-swatch {
  background: $lighter-blue;
}
.sg-light-blue .sg-color-swatch {
  background: $light-blue;
}
.sg-blue .sg-color-swatch {
  background: $blue;
}
.sg-dark-blue .sg-color-swatch {
  background: $dark-blue;
}
// Greens
.sg-light-green .sg-color-swatch {
  background: $light-green;
}
.sg-green .sg-color-swatch {
  background: $green;
}
.sg-dark-green .sg-color-swatch {
  background: $dark-green;
}
// Reds
.sg-light-red .sg-color-swatch {
  background: $light-red;
}
.sg-red .sg-color-swatch {
  background: $red;
}
.sg-dark-red .sg-color-swatch {
  background: $dark-red;
}
// Oranges
.sg-light-orange .sg-color-swatch {
  background: $light-orange;
}
.sg-orange .sg-color-swatch {
  background: $orange;
}
.sg-dark-orange .sg-color-swatch {
  background: $dark-orange;
}
// Yellows
.sg-light-yellow .sg-color-swatch {
  background: $light-yellow;
}
.sg-yellow .sg-color-swatch {
  background: $yellow;
}
.sg-dark-yellow .sg-color-swatch {
  background: $dark-yellow;
}
// Purples
.sg-light-purple .sg-color-swatch {
  background: $light-purple;
}
.sg-purple .sg-color-swatch {
  background: $purple;
}
.sg-dark-purple .sg-color-swatch {
  background: $dark-purple;
}
// Browns
.sg-light-brown .sg-color-swatch {
  background: $light-brown;
}
.sg-brown .sg-color-swatch {
  background: $brown;
}
.sg-dark-brown .sg-color-swatch {
  background: $dark-brown;
}

.sg-gray-darker .sg-color-swatch {
  background: $darker-gray;
}
.sg-gray-dark .sg-color-swatch {
  background: $dark-gray;
}
.sg-gray .sg-color-swatch {
  background: $gray;
}
.sg-gray-light .sg-color-swatch {
  background: $light-gray;
}
.sg-gray-lighter .sg-color-swatch {
  background: $lighter-gray;
}

.sg-brand-primary .sg-color-swatch {
  background: $blue;
}
.sg-brand-success .sg-color-swatch {
  background: $green;
}
.sg-brand-info .sg-color-swatch {
  background: $light-blue;
}
.sg-brand-warning .sg-color-swatch {
  background: $yellow;
}
.sg-brand-danger .sg-color-swatch {
  background: $red;
}


