.docs-header {
	position: relative;
	padding: 60px 15px;
	color: $core-purple-1;
	background-color: $core-purple-4;
	h1 {
		margin-top: 0;
		color: #fff;
		font-size: 60px;
		line-height: 1;
	}
	p {
		font-size: 24px;
		text-align: left;
	}

}