---
layout: admin-layout.hbs
---

    <div class="container bump-top">
      <!-- <div class="page-header">
        <h2>Dashboard</h2>
      </div> -->

      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              Site Activity
              <span class="pull-right">
                <button class="btn btn-default btn-xs" type="submit">Visitors</button>
                <button class="btn btn-default btn-xs" type="submit">Downloads</button>
              </span>
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              Visitors per day for last 7 days. If multiple sites, sum total.
            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col-* -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Data Activity
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              Most downloaded dataset. # for last seven days. % change over previous 7 days.
            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col-* -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Panel heading without title
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              Panel content
            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col-* -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Panel heading without title
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              Panel content
            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col-* -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Panel heading without title
            </div><!-- /.panel-heading -->
            <div class="panel-body">
              Panel content
            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col-* -->
      </div><!-- /.row -->

    </div><!-- /.container -->






