---
layout: admin-layout.hbs
---

  {{> _admin-lower-nav}}

  <div class="container">
    <div class="page-header">
      <h2>Manage Site Data</h2>
    </div>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at pharetra ligula. Donec a ex blandit, scelerisque eros a, cursus libero. Vivamus eu lacus lacus. Donec eu tortor lacinia, semper risus ut, consequat quam. Maecenas iaculis consectetur justo eu ullamcorper. Nunc volutpat pharetra nunc. Pellentesque ac dui dignissim sem scelerisque gravida. Curabitur fermentum mollis ante, vel lacinia libero fringilla non. Nullam iaculis aliquam justo, eget consectetur massa tristique ut.</p>
    <p>Fusce placerat quam non volutpat consequat. Proin felis ante, luctus a elit eget, rhoncus ornare dui. Cras finibus lorem sollicitudin elit iaculis, eget eleifend nunc imperdiet. Praesent ante erat, varius quis massa non, iaculis mattis orci. Aliquam efficitur fermentum eros vel tincidunt. Maecenas euismod, nunc et ultricies consectetur, justo velit porttitor ex, eu lobortis enim orci et nisl. Quisque eleifend libero ac gravida ultricies.</p>
    <p>Pellentesque sem arcu, semper eu pellentesque sagittis, congue et elit. Nunc vitae urna turpis. Donec ac blandit velit. Sed finibus felis eu lectus vulputate finibus. Donec nec nunc ante. In iaculis eu leo vel pretium. Pellentesque urna est, fermentum ut tellus a, commodo facilisis dui. Sed bibendum massa at tristique vehicula. Nullam tempus, eros non scelerisque maximus, elit nisl viverra diam, id mollis turpis lacus eget ante. Vivamus facilisis sem id justo fermentum, quis ultrices orci eleifend. Sed eget enim vel ipsum faucibus vestibulum sed a diam. Morbi ipsum nulla, aliquet ut consequat id, elementum at magna.</p>
  </div>