---
layout: layout.hbs
---

    <div class="docs-header" id="content">
      <div class="container">
        <h1>Color Palette</h1>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Standard Grays</h2>
                <div class="sg-color sg-gray-160 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-160</span></span></div>
                <div class="sg-color sg-gray-155 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-155</span></span></div>
                <div class="sg-color sg-gray-150 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-150</span></span></div>
                <div class="sg-color sg-gray-145 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-145</span></span></div>
                <div class="sg-color sg-gray-140 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-140</span></span></div>
                <div class="sg-color sg-gray-135 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-135</span></span></div>
                <div class="sg-color sg-gray-130 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-130</span></span></div>
                <div class="sg-color sg-gray-125 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-125</span></span></div>
                <div class="sg-color sg-gray-120 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-120</span></span></div>
                <div class="sg-color sg-gray-115 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-115</span></span></div>
                <div class="sg-color sg-gray-110 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-110</span></span></div>
                <div class="sg-color sg-gray-105 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-105</span></span></div>
                <div class="sg-color sg-gray-100 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$gray-100</span></span></div>
            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices eu est non gravida. Proin viverra tempor purus, ac ultricies ante maximus vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tristique ullamcorper bibendum. Nunc tortor metus, tempor sit amet tincidunt vitae, vestibulum at odio. Etiam pretium posuere neque. Fusce eget est sed ipsum rhoncus mollis eu in neque. Proin non libero ut purus sagittis tincidunt.</p>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-9">
                <h2>Core Calcite Colors</h2>
                <div class="sg-color sg-core-blue-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-blue-1</span></span></div>
                <div class="sg-color sg-core-blue-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-blue-2</span></span></div>
                <div class="sg-color sg-core-blue-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-blue-3</span></span></div>
                <div class="sg-color sg-core-blue-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-blue-4</span></span></div>

                <div class="sg-color sg-core-yellow-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-yellow-1</span></span></div>
                <div class="sg-color sg-core-yellow-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-yellow-2</span></span></div>
                <div class="sg-color sg-core-yellow-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-yellow-3</span></span></div>
                <div class="sg-color sg-core-yellow-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-yellow-4</span></span></div>

                <div class="sg-color sg-core-orange-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-orange-1</span></span></div>
                <div class="sg-color sg-core-orange-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-orange-2</span></span></div>
                <div class="sg-color sg-core-orange-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-orange-3</span></span></div>
                <div class="sg-color sg-core-orange-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-orange-4</span></span></div>

                <div class="sg-color sg-core-green-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-green-1</span></span></div>
                <div class="sg-color sg-core-green-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-green-2</span></span></div>
                <div class="sg-color sg-core-green-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-green-3</span></span></div>
                <div class="sg-color sg-core-green-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-green-4</span></span></div>

                <div class="sg-color sg-core-red-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-red-1</span></span></div>
                <div class="sg-color sg-core-red-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-red-2</span></span></div>
                <div class="sg-color sg-core-red-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-red-3</span></span></div>
                <div class="sg-color sg-core-red-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-red-4</span></span></div>

                <div class="sg-color sg-core-purple-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-purple-1</span></span></div>
                <div class="sg-color sg-core-purple-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-purple-2</span></span></div>
                <div class="sg-color sg-core-purple-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-purple-3</span></span></div>
                <div class="sg-color sg-core-purple-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-purple-4</span></span></div>                        
                <div class="sg-color sg-core-brown-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-brown-1</span></span></div>
                <div class="sg-color sg-core-brown-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-brown-2</span></span></div>
                <div class="sg-color sg-core-brown-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-brown-3</span></span></div>
                <div class="sg-color sg-core-brown-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-brown-4</span></span></div>
            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Fusce tempus fermentum pulvinar. Quisque gravida dictum ipsum a tempus. Nam faucibus arcu ante, at tincidunt arcu egestas ut. Etiam dolor est, tristique ut facilisis ac, aliquet nec velit. Sed nec arcu enim. Nulla nisi metus, luctus sed ullamcorper sed, tempus at ex. Donec lobortis rutrum vestibulum. Donec volutpat sem non felis pulvinar, sit amet finibus purus volutpat. Phasellus non felis massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-9">

                <h2>Expanded Colors</h2>
                <div class="sg-color sg-exp-blue-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-blue-1</span></span></div>
                <div class="sg-color sg-exp-blue-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-blue-2</span></span></div>
                <div class="sg-color sg-exp-blue-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-blue-3</span></span></div>
                <div class="sg-color sg-exp-blue-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-blue-4</span></span></div>

                <div class="sg-color sg-exp-yellow-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-yellow-1</span></span></div>
                <div class="sg-color sg-exp-yellow-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-yellow-2</span></span></div>
                <div class="sg-color sg-exp-yellow-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-yellow-3</span></span></div>

                <div class="sg-color sg-exp-orange-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-orange-1</span></span></div>
                <div class="sg-color sg-exp-orange-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-orange-2</span></span></div>
                <div class="sg-color sg-exp-orange-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-orange-3</span></span></div>

                <div class="sg-color sg-exp-green-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-green-1</span></span></div>
                <div class="sg-color sg-exp-green-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-green-2</span></span></div>
                <div class="sg-color sg-exp-green-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-green-3</span></span></div>

                <div class="sg-color sg-exp-red-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-red-1</span></span></div>
                <div class="sg-color sg-exp-red-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-red-2</span></span></div>
                <div class="sg-color sg-exp-red-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-red-3</span></span></div>

                <div class="sg-color sg-exp-purple-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-purple-1</span></span></div>
                <div class="sg-color sg-exp-purple-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-purple-2</span></span></div>

                <div class="sg-color sg-exp-brown-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-brown-1</span></span></div>
                <div class="sg-color sg-exp-brown-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$exp-brown-2</span></span></div>

            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Suspendisse id metus sagittis, condimentum ligula sit amet, elementum dolor. In porttitor nunc vitae urna tempus, sed suscipit erat sagittis. Proin ornare lacus eu odio porttitor aliquet. Sed bibendum sagittis metus volutpat fermentum. Fusce volutpat vulputate elit ultrices malesuada. Suspendisse ultrices luctus urna ac fermentum. Donec fringilla arcu ut est eleifend, sed molestie dolor semper. Nulla luctus tortor ut leo ultrices pulvinar. Cras accumsan consectetur tincidunt.</p>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-9">
            <h2>Specialty Colors</h2>
                <div class="sg-color sg-spec-blue-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-1</span></span></div>
                <div class="sg-color sg-spec-blue-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-2</span></span></div>
                <div class="sg-color sg-spec-blue-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-3</span></span></div>
                <div class="sg-color sg-spec-blue-5 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-5</span></span></div>
                <div class="sg-color sg-spec-blue-6 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-6</span></span></div>
                <div class="sg-color sg-spec-blue-7 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-7</span></span></div>
                <div class="sg-color sg-spec-blue-base sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-base</span></span></div>
                <div class="sg-color sg-spec-blue-dark sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-blue-dark</span></span></div>

                <div class="sg-color sg-spec-yellow-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-yellow-1</span></span></div>
                <div class="sg-color sg-spec-yellow-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-yellow-2</span></span></div>

                <div class="sg-color sg-spec-green-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-1</span></span></div>
                <div class="sg-color sg-spec-green-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-2</span></span></div>
                <div class="sg-color sg-spec-green-3 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-3</span></span></div>
                <div class="sg-color sg-spec-green-4 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-4</span></span></div>
                <div class="sg-color sg-spec-green-5 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-5</span></span></div>
                <div class="sg-color sg-spec-green-6 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-6</span></span></div>
                <div class="sg-color sg-spec-green-base sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-base</span></span></div>
                <div class="sg-color sg-spec-green-dark sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-green-dark</span></span></div>

                <div class="sg-color sg-spec-red-1 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-red-1</span></span></div>
                <div class="sg-color sg-spec-red-2 sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$spec-red-2</span></span></div>
            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Duis ex est, auctor non nisl non, viverra consequat tellus. Sed rutrum ultrices dignissim. Etiam at leo augue. Integer id justo iaculis, gravida tortor eget, placerat nisi. Curabitur odio diam, porttitor ac dolor non, lobortis dictum nunc. Phasellus aliquam velit eget vestibulum porta. Pellentesque vel nisl tincidunt massa faucibus mattis. Duis ante sem, gravida et ipsum vitae, facilisis consequat urna. Praesent porta eros eget eleifend molestie. Suspendisse posuere augue tempus nibh consequat ullamcorper.</p>
            </div><!-- /.col-* -->            
        </div><!-- /.row -->


    </div> <!-- /container -->

