---
layout: layout.hbs
---

    <div class="docs-header" id="content">
      <div class="container">
        <h1>Color Palette</h1>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Calcite Grays</h2>
                <div class="sg-color sg-white sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$white</span></span></div>
                <div class="sg-color sg-off-white sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$off-white</span></span></div>
                <div class="sg-color sg-lightest-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_200</span></span></div>
                <div class="sg-color sg-lighter-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_350</span></span></div>
                <div class="sg-color sg-light-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_400</span></span></div>
                <div class="sg-color sg-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_450</span></span></div>
                <div class="sg-color sg-dark-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_500</span></span></div>
                <div class="sg-color sg-darker-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_550</span></span></div>
                <div class="sg-color sg-darkest-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_600</span></span></div>
                <div class="sg-color sg-off-black sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_650</span></span></div>
                <div class="sg-color sg-black sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_700</span></span></div>
                <div class="sg-color sg-transp-off-black sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$transparent-off-black</span></span></div>
                <div class="sg-color sg-transp-black sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$transparent-black</span></span></div>
            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices eu est non gravida. Proin viverra tempor purus, ac ultricies ante maximus vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tristique ullamcorper bibendum. Nunc tortor metus, tempor sit amet tincidunt vitae, vestibulum at odio. Etiam pretium posuere neque. Fusce eget est sed ipsum rhoncus mollis eu in neque. Proin non libero ut purus sagittis tincidunt.</p>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-9">
                <h2>Calcite Colors</h2>
                <div class="sg-color sg-lightest-blue sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Blue_100</span></span></div>
                <div class="sg-color sg-lighter-blue sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Blue_150</span></span></div>
                <div class="sg-color sg-light-blue sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Blue_250</span></span></div>
                <div class="sg-color sg-blue sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Blue_a200</span></span></div>
                <div class="sg-color sg-dark-blue sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Blue_a250</span></span></div>

                <div class="sg-color sg-light-green sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-light-green</span></span></div>
                <div class="sg-color sg-green sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-green</span></span></div>
                <div class="sg-color sg-dark-green sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-dark-green</span></span></div>

                <div class="sg-color sg-light-red sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-light-red</span></span></div>
                <div class="sg-color sg-red sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-red</span></span></div>
                <div class="sg-color sg-dark-red sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-dark-red</span></span></div>

                <div class="sg-color sg-light-orange sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-light-orange</span></span></div>
                <div class="sg-color sg-orange sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-orange</span></span></div>
                <div class="sg-color sg-dark-orange sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-dark-orange</span></span></div>

                <div class="sg-color sg-light-yellow sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-light-yellow</span></span></div>
                <div class="sg-color sg-yellow sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-yellow</span></span></div>
                <div class="sg-color sg-dark-yellow sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-dark-yellow</span></span></div>

                <div class="sg-color sg-light-purple sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-light-purple</span></span></div>
                <div class="sg-color sg-purple sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-purple</span></span></div>
                <div class="sg-color sg-dark-purple sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-dark-purple</span></span></div>

                <div class="sg-color sg-light-brown sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-light-brown</span></span></div>
                <div class="sg-color sg-brown sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-brown</span></span></div>
                <div class="sg-color sg-dark-brown sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$core-dark-brown</span></span></div>

            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Fusce tempus fermentum pulvinar. Quisque gravida dictum ipsum a tempus. Nam faucibus arcu ante, at tincidunt arcu egestas ut. Etiam dolor est, tristique ut facilisis ac, aliquet nec velit. Sed nec arcu enim. Nulla nisi metus, luctus sed ullamcorper sed, tempus at ex. Donec lobortis rutrum vestibulum. Donec volutpat sem non felis pulvinar, sit amet finibus purus volutpat. Phasellus non felis massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-9">

                <h2>Bootstrap Namespace Grays</h2>
                <div class="sg-color sg-gray-darker sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_450-darker</span></span></div>
                <div class="sg-color sg-gray-dark sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_450-dark</span></span></div>
                <div class="sg-color sg-gray sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_450</span></span></div>
                <div class="sg-color sg-gray-light sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_450-light</span></span></div>
                <div class="sg-color sg-gray-lighter sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$Calcite_Gray_450-lighter</span></span></div>


            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Suspendisse id metus sagittis, condimentum ligula sit amet, elementum dolor. In porttitor nunc vitae urna tempus, sed suscipit erat sagittis. Proin ornare lacus eu odio porttitor aliquet. Sed bibendum sagittis metus volutpat fermentum. Fusce volutpat vulputate elit ultrices malesuada. Suspendisse ultrices luctus urna ac fermentum. Donec fringilla arcu ut est eleifend, sed molestie dolor semper. Nulla luctus tortor ut leo ultrices pulvinar. Cras accumsan consectetur tincidunt.</p>
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-9">

                <h2>Bootstrap Namespace Colors</h2>
                <div class="sg-color sg-brand-primary sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$brand-primary</span></span></div>
                <div class="sg-color sg-brand-success sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$brand-success</span></span></div>
                <div class="sg-color sg-brand-info sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$brand-info</span></span></div>
                <div class="sg-color sg-brand-warning sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$brand-warning</span></span></div>
                <div class="sg-color sg-brand-danger sg-lg"><span class="sg-color-swatch"><span class="sg-animated">$brand-danger</span></span></div>


            </div><!-- /.col-* -->
            <div class="col-md-3">
                <p class="bump-top">Suspendisse id metus sagittis, condimentum ligula sit amet, elementum dolor. In porttitor nunc vitae urna tempus, sed suscipit erat sagittis. Proin ornare lacus eu odio porttitor aliquet. Sed bibendum sagittis metus volutpat fermentum. Fusce volutpat vulputate elit ultrices malesuada. Suspendisse ultrices luctus urna ac fermentum. Donec fringilla arcu ut est eleifend, sed molestie dolor semper. Nulla luctus tortor ut leo ultrices pulvinar. Cras accumsan consectetur tincidunt.</p>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div> <!-- /container -->

