
    <div class="container">

        <h2 class="page-header">Dropdowns</h2>

        <div class="row">
            <div class="col-md-3">
                <h3>Example</h3>
                <p>Wrap the dropdown's trigger and the dropdown menu within <code>.dropdown</code>, or another element that declares <code>position: relative;</code>. Then add the menu's HTML.</p>
                <h4>Alignment</h4>
                <p>By default, a dropdown menu is automatically positioned 100% from the top and along the left side of its parent. Add <code>.dropdown-menu-right</code> to a <code>.dropdown-menu</code> to right align the dropdown menu.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <p class="mono">
                        &lt;div class="dropdown"&gt;<br>
                        &nbsp;&nbsp;&lt;button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Dropdown<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="caret"&gt;&lt;/span&gt;<br>
                        &nbsp;&nbsp;&lt;/button&gt;<br>
                        &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;li role="presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;li role="presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;li role="presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;li role="presentation"&gt;&lt;a role="menuitem" tabindex="-1" href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;<br>
                        &nbsp;&nbsp;&lt;/ul&gt;<br>
                        &lt;/div&gt;
                    </p>
                  </div>
                </div>
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-3">
                <h3>Headers</h3>
                <p>Add a header to label sections of actions in any dropdown menu.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" class="dropdown-header">Dropdown header</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <p class="mono">
                        &lt;ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2"&gt;<br>
                        &nbsp;&nbsp;...<br>
                        &nbsp;&nbsp;&lt;li role="presentation" class="dropdown-header"&gt;Dropdown header&lt;/li&gt;<br>
                        &nbsp;&nbsp;...<br>
                        &lt;/ul&gt;
                    </p>
                  </div>
                </div>
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-3">
                <h3>Divider</h3>
                <p>Add a divider to separate series of links in a dropdown menu.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <p class="mono">
                        &lt;ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2"&gt;<br>
                        &nbsp;&nbsp;...<br>
                        &nbsp;&nbsp;&lt;li role="presentation" class="divider"&gt;&lt;/li&gt;<br>
                        &nbsp;&nbsp;...<br>
                        &lt;/ul&gt;
                    </p>
                  </div>
                </div>
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-3">
                <h3>Disabled Menu Items</h3>
                <p>Add .disabled to a <code>&lt;li&gt;</code> in the dropdown to disable the link.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <p class="mono">
                        &lt;ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2"&gt;<br>
                        &nbsp;&nbsp;...<br>
                        &nbsp;&nbsp;&lt;li role="presentation" class="disabled"&gt;&lt;a role="menuitem" tabindex="-1" href="#"&gt;Disabled link&lt;/a&gt;&lt;/li&gt;
                        &nbsp;&nbsp;...<br>
                        &lt;/ul&gt;
                    </p>
                  </div>
                </div>
            </div><!-- /.col-* -->
        </div><!-- /.row -->


    </div> <!-- /container -->



