---
layout: layout.hbs
---

    <div class="docs-header" id="content">
      <div class="container">
        <h1>Getting Started</h1>
      </div>
    </div>

    <div class="container">
        <h2 class="page-header">Page Header</h2>
        <div class="row">
            <div class="col-md-3">
              
              <div class="list-group">
                <span class="list-group-item header">Porta ac consectetur ac</span>
                <a href="#" class="list-group-item">Cras justo odio</a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
              </div>

            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">

                  </div>
                  <div class="panel-footer">
                    <p class="mono">

                    </p>
                  </div>
                </div>
            </div><!-- /.col-* -->
        </div><!-- /.row -->

    </div> <!-- /container -->


