---
layout: layout.hbs
---

    <div class="docs-header" id="content">
      <div class="container">
        <h1>Calcite+Bootstrap</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
      	<p><a href="docs/alerts.html">Docs Link</a>
      </div>
    </div>