---
layout: layout.hbs
---

	<div class="container">

	    <h2 class="page-header">Navbar</h2>

        <div class="row">
            <div class="col-md-3">
                <h3>Default navbar</h3>
                <p>Navbars are responsive meta components that serve as navigation headers for your application or site. They begin collapsed (and are toggleable) in mobile views and become horizontal as the available viewport width increases.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                              </ul>
                            </li>
                          </ul>
                          <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                          </form>
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>


                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;nav class="navbar navbar-default"&gt;<br>
                      &nbsp;&nbsp;&lt;div class="container-fluid"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- Brand and toggle get grouped for better mobile display --&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="navbar-header"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="sr-only"&gt;Toggle navigation&lt;/span&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="icon-bar"&gt;&lt;/span&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="icon-bar"&gt;&lt;/span&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="icon-bar"&gt;&lt;/span&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/button&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a class="navbar-brand" href="#"&gt;Brand&lt;/a&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- Collect the nav links, forms, and other content for toggling --&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="nav navbar-nav"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="active"&gt;&lt;a href="#"&gt;Link &lt;span class="sr-only"&gt;(current)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="dropdown"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/a&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="dropdown-menu"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li role="separator" class="divider"&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li role="separator" class="divider"&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;One more separated link&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;form class="navbar-form navbar-left" role="search"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="form-group"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" class="form-control" placeholder="Search"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;button type="submit" class="btn btn-default"&gt;Submit&lt;/button&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/form&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="nav navbar-nav navbar-right"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="dropdown"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"&gt;Dropdown &lt;span class="caret"&gt;&lt;/span&gt;&lt;/a&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="dropdown-menu"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li role="separator" class="divider"&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;<br>
                      &nbsp;&nbsp;&lt;/div&gt;&lt;!-- /.container-fluid --&gt;<br>
                      &lt;/nav&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->



        <div class="row">
            <div class="col-md-3">
                <h3>Brand Image</h3>
                <p>Replace the navbar brand with your own image by swapping the text for an <code>&lt;img&gt;</code>. Since the <code>.navbar-brand</code> has its own padding and height, you may need to override some CSS depending on your image.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="#">
                            <img alt="Brand" src="../images/top-nav-scene.png">
                          </a>
                        </div>
                      </div>
                    </nav>
                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;nav class="navbar navbar-default"&gt;<br>
                      &nbsp;&nbsp;&lt;div class="container-fluid"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="navbar-header"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a class="navbar-brand" href="#"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="Brand" src="..."&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
                      &nbsp;&nbsp;&lt;/div&gt;<br>
                      &lt;/nav&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->


        <div class="row">
            <div class="col-md-3">
                <h3>Forms</h3>
                <p>Place form content within <code>.navbar-form</code> for proper vertical alignment and collapsed behavior in narrow viewports. Use the alignment options to decide where it resides within the navbar content.</p>

                <p>As a heads up, <code>.navbar-form</code> shares much of its code with <code>.form-inline</code> via mixin. <strong>Some form controls, like input groups, may require fixed widths to be show up properly within a navbar.</strong></p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                          </ul>
                          <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                          </form>

                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>

                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;form class="navbar-form navbar-left" role="search"&gt;<br>
                      &nbsp;&nbsp;&lt;div class="form-group"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" class="form-control" placeholder="Search"&gt;<br>
                      &nbsp;&nbsp;&lt;/div&gt;<br>
                      &nbsp;&nbsp;&lt;button type="submit" class="btn btn-default"&gt;Submit&lt;/button&gt;<br>
                      &lt;/form&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->


        <div class="row">
            <div class="col-md-3">
                <h3>Buttons</h3>
                <p>Add the <code>.navbar-btn</code> class to <code>&lt;button&gt;</code> elements not residing in a <code>&lt;form&gt;</code> to vertically center them in the navbar.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>

                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;button type="button" class="btn btn-default navbar-btn"&gt;Sign in&lt;/button&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->



        <div class="row">
            <div class="col-md-3">
                <h3>Text</h3>
                <p>Wrap strings of text in an element with <code>.navbar-text</code>, usually on a <code>&lt;p&gt;</code> tag for proper leading and color.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <p class="navbar-text">Signed in as Jack Dangermond</p>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;p class="navbar-text"&gt;Signed in as Jack Dangermond&lt;/p&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-3">
                <h3>Non-nav links</h3>
                <p>For folks using standard links that are not within the regular navbar navigation component, use the <code>.navbar-link</code> class to add the proper colors for the default and inverse navbar options.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Jack Dangermond</a></p>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;p class="navbar-text navbar-right"&gt;Signed in as &lt;a href="#" class="navbar-link"&gt;Jack Dangermond&lt;/a&gt;&lt;/p&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <div class="row">
          <div class="col-md-12">
          <h3>Component alignment</h3>
            <p>Align nav links, forms, buttons, or text, using the <code>.navbar-left</code> or <code>.navbar-right</code> utility classes. Both classes will add a CSS float in the specified direction. For example, to align nav links, put them in a separate <code>&lt;ul&gt;</code> with the respective utility class applied.</p>
            <p>These classes are mixin-ed versions of <code>.pull-left</code> and <code>.pull-right</code>, but they're scoped to media queries for easier handling of navbar components across device sizes.</p>
          </div>
        </div>





        <div class="row">
            <div class="col-md-3">
                <h3>Fixed to top</h3>
                <p>Add <code>.navbar-fixed-top</code> and include a <code>.container</code> or <code>.container-fluid</code> to center and pad navbar content.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                         <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;nav class="navbar navbar-default navbar-fixed-top"&gt;<br>
                      &nbsp;&nbsp;&lt;div class="container"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                      &nbsp;&nbsp;&lt;/div&gt;<br>
                      &lt;/nav&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->








        <div class="row">
            <div class="col-md-3">
                <h3>Fixed to bottom</h3>
                <p>Add <code>.navbar-fixed-bottom</code> and include a <code>.container</code> or <code>.container-fluid</code> to center and pad navbar content.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                         <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;nav class="navbar navbar-default navbar-fixed-bottom"&gt;<br>
                      &nbsp;&nbsp;&lt;div class="container"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                      &nbsp;&nbsp;&lt;/div&gt;<br>
                      &lt;/nav&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->







        <div class="row">
            <div class="col-md-3">
                <h3>Static top</h3>
                <p>Create a full-width navbar that scrolls away with the page by adding <code>.navbar-static-top</code> and include a <code>.container</code> or <code>.container-fluid</code> to center and pad navbar content.</p>
                <p>Unlike the <code>.navbar-fixed-*</code> classes, you do not need to change any padding on the body.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                         <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;nav class="navbar navbar-default navbar-static-top"&gt;<br>
                      &nbsp;&nbsp;&lt;div class="container"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                      &nbsp;&nbsp;&lt;/div&gt;<br>
                      &lt;/nav&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->


        <div class="row">
            <div class="col-md-3">
                <h3>Inverted navbar</h3>
                <p>Modify the look of the navbar by adding <code>.navbar-inverse</code>.</p>
            </div><!-- /.col-* -->
            <div class="col-md-9">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <nav class="navbar navbar-inverse">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                         <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                  </div><!-- /.panel-body -->
                  <div class="panel-footer">
                    <p class="mono">
                      &lt;nav class="navbar navbar-default navbar-static-top"&gt;<br>
                      &nbsp;&nbsp;&lt;div class="container"&gt;<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                      &nbsp;&nbsp;&lt;/div&gt;<br>
                      &lt;/nav&gt;
                    </p>
                  </div><!-- /.panel-footer -->
                </div><!-- /.panel -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->        

	</div><!-- /.container -->