.content-body{
  padding-top:20px;
}

footer{
  position:relative !important;
  padding-top: 21px !important;
  height:auto !important;
}

.example-header {
	margin-left: 40px;
	margin-right: 40px;
}
