---
layout: opendata.hbs
---

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Total Visitors

          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Last 30 Days</a></li>
                <li><a href="#">Last 60 Days</a></li>
                <li><a href="#">Last 90 Days</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <img class="img-responsive" src="https://devtopia.esri.com/pages/WebGIS/arcgis-online-ux-design/_assets/img/sparkline.svg">
          <p>1,234 Users</p>
          <p>(30 Days)</p>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Total Downloads
          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Last 30 Days</a></li>
                <li><a href="#">Last 60 Days</a></li>
                <li><a href="#">Last 90 Days</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <img class="img-responsive" src="https://devtopia.esri.com/pages/WebGIS/arcgis-online-ux-design/_assets/img/sparkline.svg">
          <p>2,198 Files Downloaded</p>
          <p>(30 Days)</p>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* -->

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Total Shares
          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Last 30 Days</a></li>
                <li><a href="#">Last 60 Days</a></li>
                <li><a href="#">Last 90 Days</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <img class="img-responsive" src="https://devtopia.esri.com/pages/WebGIS/arcgis-online-ux-design/_assets/img/sparkline.svg">
          <p>345 Datasets Shared</p>
          <p>(30 Days)</p>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* -->

  </div><!-- /.row -->


  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Top Datasets Views
          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Last 30 Days</a></li>
                <li><a href="#">Last 60 Days</a></li>
                <li><a href="#">Last 90 Days</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <ol>
          <li><a href="#">Emergency Road Closures <span class="label label-default pull-right">142</span></a></li>
          <li><a href="#">Traffic Volume <span class="label label-default pull-right">124</span></a></li>
          <li><a href="#">Principal Bicycle Network <span class="label label-default pull-right">96</span></a></li>
          <li><a href="#">VicRoads Country Street Directory Grids <span class="label label-default pull-right">72</span></a></li>
          <li><a href="#">Speed Signs <span class="label label-default pull-right">42</span></a></li>
          </ol>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* -->    

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Top Downloads
          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li><a href="#">Spreadsheets</a></li>
                <li><a href="#">KML</a></li>
                <li><a href="#">Shapefiles</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <ol>
          <li><a href="#">Emergency Road Closures <span class="label label-default pull-right">142</span></a></li>
          <li><a href="#">Traffic Volume <span class="label label-default pull-right">124</span></a></li>
          <li><a href="#">Principal Bicycle Network <span class="label label-default pull-right">96</span></a></li>
          <li><a href="#">VicRoads Country Street Directory Grids <span class="label label-default pull-right">72</span></a></li>
          <li><a href="#">Speed Signs <span class="label label-default pull-right">42</span></a></li>
          </ol>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* --> 

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Top APIs
          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Last 30 Days</a></li>
                <li><a href="#">Last 60 Days</a></li>
                <li><a href="#">Last 90 Days</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <ol>
          <li><a href="#">Emergency Road Closures <span class="label label-default pull-right">142</span></a></li>
          <li><a href="#">Traffic Volume <span class="label label-default pull-right">124</span></a></li>
          <li><a href="#">Principal Bicycle Network <span class="label label-default pull-right">96</span></a></li>
          <li><a href="#">VicRoads Country Street Directory Grids <span class="label label-default pull-right">72</span></a></li>
          <li><a href="#">Speed Signs <span class="label label-default pull-right">42</span></a></li>
          </ol>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* -->  

  </div><!-- /.row -->

  <div class="row">
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Dataset Health
          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Warnings</a></li>
                <li><a href="#">Errors</a></li>
                <li><a href="#">Both</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <p>Paragraph text here</p>
          <center>
            <button class="btn btn-sm btn-success" type="button">
              Healthy <span class="badge">67</span>
            </button>
            <button class="btn btn-sm btn-warning" type="button">
              Warnings <span class="badge">12</span>
            </button>
            <button class="btn btn-sm btn-danger" type="button">
              Errors <span class="badge">24</span>
            </button>
          </center>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* -->    

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Recent Comments
          <!-- Single button -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Last 30 Days</a></li>
                <li><a href="#">Last 60 Days</a></li>
                <li><a href="#">Last 90 Days</a></li>
              </ul>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
          <blockquote>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <footer><a href="#">LoudounJulie</a> posted 3 hours ago about <a href="#"><cite title="Source Title">Loudoun County Parcel Data</cite></a></footer>
          </blockquote>

          <blockquote>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <footer><a href="#">LoudounJulie</a> posted 3 hours ago about <a href="#"><cite title="Source Title">Loudoun County Parcel Data</cite></a></footer>
          </blockquote>

          <blockquote>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <footer><a href="#">LoudounJulie</a> posted 3 hours ago about <a href="#"><cite title="Source Title">Loudoun County Parcel Data</cite></a></footer>
          </blockquote>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-* -->  
  </div>

</div><!-- /.container -->