---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Buttons</h1>
  </div>
</div>

<div class="container">

  <div class="row">
      <div class="col-md-3">
          <h3>Button Tags</h3>
          <p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <a class="btn btn-default" href="#" role="button">Link</a>
              <button class="btn btn-default" type="submit">Button</button>
              <input class="btn btn-default" type="button" value="Input">
              <input class="btn btn-default" type="submit" value="Submit">
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;a class=<code>"btn btn-default"</code> href="#" role="button"&gt;Link&lt;/a&gt;<br>
                  &lt;button class=<code>"btn btn-default"</code> type="submit"&gt;Button&lt;/button&gt;<br>
                  &lt;input class=<code>"btn btn-default"</code> type="button" value="Input"&gt;<br>
                  &lt;input class=<code>"btn btn-default"</code> type="submit" value="Submit"&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Options</h3>
          <p>Use any of the available button classes to quickly create a styled button.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <button type="button" class="btn btn-default">Default</button>
              <button type="button" class="btn btn-primary">Primary</button>
              <button type="button" class="btn btn-success">Success</button>
              <button type="button" class="btn btn-info">Info</button>
              <button type="button" class="btn btn-warning">Warning</button>
              <button type="button" class="btn btn-danger">Danger</button>
              <button type="button" class="btn btn-link">Link</button>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;!-- Standard button --&gt;<br>
                  &lt;button type="button" class="btn <code>btn-default</code>"&gt;Default&lt;/button&gt;<br>
                  <br>
                  &lt;!-- Provides extra visual weight and identifies the primary action in a set of buttons --&gt;<br>
                  &lt;button type="button" class="btn <code>btn-primary</code>"&gt;Primary&lt;/button&gt;<br>
                  <br>
                  &lt;!-- Indicates a successful or positive action --&gt;<br>
                  &lt;button type="button" class="btn <code>btn-success</code>"&gt;Success&lt;/button&gt;<br>
                  <br>
                  &lt;!-- Contextual button for informational alert messages --&gt;<br>
                  &lt;button type="button" class="btn <code>btn-info</code>"&gt;Info&lt;/button&gt;<br>
                  <br>
                  &lt;!-- Indicates caution should be taken with this action --&gt;<br>
                  &lt;button type="button" class="btn <code>btn-warning</code>"&gt;Warning&lt;/button&gt;<br>
                  <br>
                  &lt;!-- Indicates a dangerous or potentially negative action --&gt;<br>
                  &lt;button type="button" class="btn <code>btn-danger</code>"&gt;Danger&lt;/button&gt;<br>
                  <br>
                  &lt;!-- Deemphasize a button by making it look like a link while maintaining button behavior --&gt;<br>
                  &lt;button type="button" class="btn <code>btn-link</code>"&gt;Link&lt;/button&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Sizes</h3>
          <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-default btn-lg">Large button</button>
              </p>
              <p>
                <button type="button" class="btn btn-primary">Default button</button>
                <button type="button" class="btn btn-default">Default button</button>
              </p>
              <p>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-default btn-sm">Small button</button>
              </p>
              <p>
                <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                <button type="button" class="btn btn-default btn-xs">Extra small button</button>
              </p>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;p&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-primary <code>btn-lg</code>"&gt;Large button&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default <code>btn-lg</code>"&gt;Large button&lt;/button&gt;<br>
                  &lt;/p&gt;<br>
                  &lt;p&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-primary"&gt;Default button&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Default button&lt;/button&gt;<br>
                  &lt;/p&gt;<br>
                  &lt;p&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-primary <code>btn-sm</code>"&gt;Small button&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default <code>btn-sm</code>"&gt;Small button&lt;/button&gt;<br>
                  &lt;/p&gt;<br>
                  &lt;p&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-primary <code>btn-xs</code>"&gt;Extra small button&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default <code>btn-xs</code>"&gt;Extra small button&lt;/button&gt;<br>
                  &lt;/p&gt;
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
              <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;button type="button" class="btn btn-primary btn-lg <code>btn-block</code>"&gt;Block level button&lt;/button&gt;<br>
                  &lt;button type="button" class="btn btn-default btn-lg <code>btn-block</code>"&gt;Block level button&lt;/button&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->        

  <div class="row">
      <div class="col-md-3">
          <h3>Active State</h3>
          <p>Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active. For <code>&lt;button&gt;</code> elements, this is done via <code>:active</code>. For <code>&lt;a&gt;</code> elements, it's done with <code>.active</code>. However, you may use .active on <code>&lt;button&gt;</code>s (and include the <code>aria-pressed="true"</code> attribute) should you need to replicate the active state programmatically.</p>
          <p>Add the <code>.active</code> class to &lt;a&gt; buttons.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <button type="button" class="btn btn-primary btn-lg active">Primary button</button>
              <button type="button" class="btn btn-default btn-lg active">Button</button>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;button type="button" class="btn btn-primary btn-lg <code>active</code>"&gt;Primary button&lt;/button&gt;<br>
                  &lt;button type="button" class="btn btn-default btn-lg <code>active</code>"&gt;Button&lt;/button&gt;
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="#" class="btn btn-primary btn-lg active" role="button">Primary link</a>
              <a href="#" class="btn btn-default btn-lg active" role="button">Link</a>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;a href="#" class="btn btn-primary btn-lg <code>active</code>" role="button"&gt;Primary link&lt;/a&gt;<br>
                  &lt;a href="#" class="btn btn-default btn-lg <code>active</code>" role="button"&gt;Link&lt;/a&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Disabled State</h3>
          <p>Make buttons look unclickable by fading them back with <code>opacity</code>.</p>
          <p>Add the <code>disabled</code> attribute to <code>&lt;button&gt;</code> buttons.</p>
          <p>Add the <code>.disabled</code> class to <code>&lt;a&gt;</code> buttons.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
              <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;button type="button" class="btn btn-lg btn-primary" <code>disabled="disabled"</code>&gt;Primary button&lt;/button&gt;<br>
                  &lt;button type="button" class="btn btn-default btn-lg" <code>disabled="disabled"</code>&gt;Button&lt;/button&gt;
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="#" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>
              <a href="#" class="btn btn-default btn-lg disabled" role="button">Link</a>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;a href="#" class="btn btn-primary btn-lg <code>disabled</code>" role="button"&gt;Primary link&lt;/a&gt;<br>
                  &lt;a href="#" class="btn btn-default btn-lg <code>disabled</code>" role="button"&gt;Link&lt;/a&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->




  <h2 class="page-header">Button Groups</h2>
  <div class="row">
      <div class="col-md-3">
          <h3>Basic Example</h3>
          <p>Wrap a series of buttons with <code>.btn</code> in <code>.btn-group</code>.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class=<code>"btn-group"</code> role="group" aria-label="..."&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Left&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Middle&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Right&lt;/button&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Button Toolbar</h3>
          <p>Combine sets of <code>&lt;div class="btn-group"&gt;</code> into a <code>&lt;div class="btn-toolbar"&gt;</code> for more complex components.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group" role="group" aria-label="First group">
                  <button type="button" class="btn btn-default">1</button>
                  <button type="button" class="btn btn-default">2</button>
                  <button type="button" class="btn btn-default">3</button>
                  <button type="button" class="btn btn-default">4</button>
              </div>
              <div class="btn-group" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-default">5</button>
                  <button type="button" class="btn btn-default">6</button>
                  <button type="button" class="btn btn-default">7</button>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-default">8</button>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class=<code>"btn-toolbar"</code> role="toolbar" aria-label="..."&gt;<br>
                  &nbsp;&nbsp;&lt;div class="btn-group" role="group" aria-label="..."&gt;...&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="btn-group" role="group" aria-label="..."&gt;...&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="btn-group" role="group" aria-label="..."&gt;...&lt;/div&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Button Group Sizing</h3>
          <p>Instead of applying button sizing classes to every button in a group, just add <code>.btn-group-*</code> to each <code>.btn-group</code>, including when nesting multiple groups.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
              </div>
              <br><br>
              <div class="btn-group" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
              </div>
              <br><br>
              <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
              </div>
              <br><br>
              <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class="btn-group <code>btn-group-lg</code>" role="group" aria-label="..."&gt;...&lt;/div&gt;<br>
                  &lt;div class="btn-group" role="group" aria-label="..."&gt;...&lt;/div&gt;<br>
                  &lt;div class="btn-group btn-group-sm" role="group" aria-label="..."&gt;...&lt;/div&gt;<br>
                  &lt;div class="btn-group btn-group-xs" role="group" aria-label="..."&gt;...&lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Nesting</h3>
          <p>Place a <code>.btn-group</code> within another <code>.btn-group</code> when you want dropdown menus mixed with a series of buttons.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>

                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupDrop1">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class=<code>"btn-group"</code> role="group" aria-label="..."&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;1&lt;/button&gt;<br>
                  &nbsp;&lt;button type="button" class="btn btn-default"&gt;2&lt;/button&gt;<br>
                  <br>
                  &nbsp;&lt;div class=<code>"btn-group"</code> role="group"&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"&gt;<br>
                  &nbsp;&nbsp;&nbsp;Dropdown<br>
                  &nbsp;&nbsp;&nbsp;&lt;span class="caret"&gt;&lt;/span&gt;<br>
                  &nbsp;&nbsp;&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Dropdown link&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Dropdown link&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&lt;/ul&gt;<br>
                  &nbsp;&lt;/div&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Vertical variation</h3>
          <p>Make a set of buttons appear vertically stacked rather than horizontally. <strong>Split button dropdowns are not supported here.</strong></p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-default">Button</button>
                <button type="button" class="btn btn-default">Button</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-default">Button</button>
                <button type="button" class="btn btn-default">Button</button>
                <div class="btn-group" role="group">
                  <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
                <div class="btn-group" role="group">
                  <button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop3">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
                <div class="btn-group" role="group">
                  <button id="btnGroupVerticalDrop4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class=<code>"btn-group-vertical"</code> role="group" aria-label="...&nbsp;&nbsp;gt;<br>
                  &nbsp;&nbsp;...<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Justified button groups</h3>
          <p>Make a group of buttons stretch at equal sizes to span the entire width of its parent. Also works with button dropdowns within the button group.</p>
          <h4>Example A: With <code>&lt;a&gt;</code> elements</a></h4>
          <p>Just wrap a series of <code>.btns</code> in <code>.btn-group.btn-group-justified</code>.</p>
          <h4>Example B: With <code>&lt;button&gt;</code> elements</h4>
          <p>To use justified button groups with <code>&lt;button&gt;</code> elements, you must wrap each button in a button group. Most browsers don't properly apply our CSS for justification to <code>&lt;button&gt;</code> elements, but since we support button dropdowns, we can work around that.</button>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <a href="#" class="btn btn-default" role="button">Left</a>
                <a href="#" class="btn btn-default" role="button">Middle</a>
                <a href="#" class="btn btn-default" role="button">Right</a>
              </div>
              <br><br>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
                <a href="#" class="btn btn-default" role="button">Left</a>
                <a href="#" class="btn btn-default" role="button">Middle</a>
                <div class="btn-group" role="group">
                  <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    Dropdown <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class="btn-group <code>btn-group-justified</code>" role="group" aria-label="..."&gt;<br>
                  &nbsp;&nbsp;...<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default">Left</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default">Middle</button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default">Right</button>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class="btn-group <code>btn-group-justified</code>" role="group" aria-label="..."&gt;<br>
                  &nbsp;&nbsp;&lt;div class="btn-group" role="group"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Left&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="btn-group" role="group"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Middle&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="btn-group" role="group"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Right&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>

      </div><!-- /.col-* -->
  </div><!-- /.row -->


  <h2 class="page-header">Button Dropdowns</h2>

  <div class="row">
      <div class="col-md-3">
          <h3>Single button dropdowns</h3>
          <p>Turn a button into a dropdown toggle with some basic markup changes.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Default <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Primary <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Success <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Info <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Warning <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Danger <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;!-- Single button --&gt;<br>
                  &lt;div class="btn-group"&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Action &lt;span class="caret"&gt;&lt;/span&gt;<br>
                  &nbsp;&nbsp;&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="divider"&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&lt;/ul&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Spilt Button Dropdowns</h3>
          <p>Similarly, create split button dropdowns with the same markup changes, only with a separate button.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group">
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>               
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;!-- Split button --&gt;<br>
                  &lt;div class="btn-group"&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-danger"&gt;Action&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="caret"&gt;&lt;/span&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;<br>
                  &nbsp;&nbsp;&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="divider"&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&lt;/ul&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Sizing</h3>
          <p>Button dropdowns work with buttons of all sizes.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group">
                  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Large button <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div><!-- /btn-group -->


              <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Small button <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
              </div><!-- /btn-group -->


              <div class="btn-group">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Extra small button <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;!-- Large button group --&gt;<br>
                  &lt;div class="btn-group"&gt;<br>
                  &nbsp;&nbsp;&lt;button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Large button &lt;span class="caret"&gt;&lt;/span&gt;<br>
                  &nbsp;&nbsp;&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                  &nbsp;&nbsp;&lt;/ul&gt;<br>
                  &lt;/div&gt;<br>
                  <br>
                  &lt;!-- Small button group --&gt;<br>
                  &lt;div class="btn-group"&gt;<br>
                  &nbsp;&nbsp;&lt;button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Small button &lt;span class="caret"&gt;&lt;/span&gt;<br>
                  &nbsp;&nbsp;&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                  &nbsp;&nbsp;&lt;/ul&gt;<br>
                  &lt;/div&gt;<br>
                  <br>
                  &lt;!-- Extra small button group --&gt;<br>
                  &lt;div class="btn-group"&gt;<br>
                  &nbsp;&nbsp;&lt;button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;Extra small button &lt;span class="caret"&gt;&lt;/span&gt;<br>
                  &nbsp;&nbsp;&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;...<br>
                  &nbsp;&nbsp;&lt;/ul&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-3">
          <h3>Dropup Variation</h3>
          <p>Trigger dropdown menus above elements by adding <code>.dropup</code> to the parent.</p>
      </div><!-- /.col-* -->
      <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-default">Dropup</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <div class="btn-group dropup">
                  <button type="button" class="btn btn-primary">Right dropup</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
            </div>
            <div class="panel-footer">
              <p class="mono">
                  &lt;div class="btn-group dropup"&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default"&gt;Dropup&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="caret"&gt;&lt;/span&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;<br>
                  &nbsp;&nbsp;&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;ul class="dropdown-menu" role="menu"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;!-- Dropdown menu links --&gt;<br>
                  &nbsp;&nbsp;&lt;/ul&gt;<br>
                  &lt;/div&gt;
              </p>
            </div>
          </div>
      </div><!-- /.col-* -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-3">
      <h3>Bootstrap Docs</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>For detail on using the styles and components shown, see the <a href="http://getbootstrap.com/css/#buttons">Bootstrap Documentation for Buttons</a>.</p>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->


</div><!-- /.container -->