---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Grid System</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Bootstrap Docs</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Calcite-Bootstrap by default uses the Bootstrap grid system. It includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases.</p>
          <p>To learn more, see the <a href="http://getbootstrap.com/css/#grid">Bootstrap Documentation for Grid System</a>.</p>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->