---
layout: docs.hbs
---
<div class="cal-header">
  <div class="container">
    <h1>Responsive Utilities</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Bootstrap Docs</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>For detail on using the styles and components shown, see the <a href="http://getbootstrap.com/css/#responsive-utilities">Bootstrap Documentation for Responsive Utilities</a>.</p>
        </div>
      </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->