---
layout: docs.hbs
---

<div class="cal-header">
  <div class="container">
    <h1>Tooltip</h1>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>Within Text</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">          
          <p>Tight pants next level keffiyeh <a href="#" data-toggle="tooltip" title="" data-placement="top" data-original-title="Default tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" data-toggle="tooltip" title="" data-original-title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan <a href="#" data-toggle="tooltip" title="Another one here too">whatever keytar</a>, scenester farm-to-table banksy Austin twitter handle freegan cred raw denim single-origin coffee viral.</p>
        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->


  <div class="row">
    <div class="col-md-3">
      <h3>Within Buttons</h3>
      <p><!-- DESCRIPTION --></p>
    </div><!-- /.col-* -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">

          <p><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button></p>

          <p><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button></p>

          <p><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button></p>

          <p><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button></p>

        </div>
        <div class="panel-footer">
          <p class="mono">
            <!-- INSERT CODE VIEW -->
          </p>
        </div>
        </div>
    </div><!-- /.col-* -->
  </div><!-- /.row -->

</div><!-- /.container -->